/*
CADECRAFT DEFINITIVE STYLES
v3.1.6; 2023/12/18

SOMEWHAT BASED ON CADECRAFT DEFINITIVE STYLES 1
v1.0.2; 2022/11/26
RE-WRITTEN AND MODIFIED FOR CLEANLINESS/ORGANIZATION (2023/11/04)
RE-WRITTEN AND MODIFIED FOR IMPROVED STYLE (2023/11/24)
*/

/* Body and normal text */
body {
    /*background-color: rgb(11, 14, 17);*/
    /* Normally background color above, but gradient for Cadecraft homepage */
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(11, 14, 17), rgb(11, 14, 17), rgb(0, 0, 0));
    font-family: Arial;
    font-size: 14px; /* todo: bigger text ? */
    color: rgb(191, 196, 204);
    padding: 0px; /* Normally 8px, but 0px for Cadecraft homepage */
    text-align: center; /* For Cadecraft homepage */
}
::-webkit-scrollbar {
    display: none;
}
:root{
    scrollbar-width: none;
}

/* Text */
h1 { /* Main page title header (blue) */
    color: rgb(28, 160, 203);
    font-size: 18px;
    margin:0px;
}
h3 { /* Dark header */
    color: rgb(191, 196, 204); /* Formerly: rgb(90, 92, 95) or rgb(92, 96, 102) or rgb(127, 130, 134); */
    transition: all 0.1s;
    margin-top:4px;
    margin-bottom:4px;
}
.emph1 {
    font-weight: bold;
}
.emph2 {
    color: rgb(28, 160, 203);
    font-weight: bold;
}
.emphwarn {
    color: rgb(230, 157, 0);
    font-weight: bold;
}
.emphbg {
    color: rgb(219, 224, 231);
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 1);
}
.error {
    color: rgb(230, 12, 12);
    font-weight: bold;
}

/* Link */ /* todo: improve consistency of hover/style/etc (lighter?) */
a {
    color: rgb(23, 122, 180); /* Formerly: rgb(28, 160, 203) */
    background-color: transparent;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}
a:visited {
    color: rgb(23, 122, 180);
}
a:hover {
    color: rgb(14, 71, 131);
}
a:active {
    color: rgb(12, 55, 121);
}

/* Misc */
hr {
    border: solid 1px rgb(50, 59, 71);
}
table {
    border-collapse: collapse;
}
td, th {
    border: solid 1px rgb(50, 59, 71);
    padding: 8px;
}

/* Dividers */
div {
    margin: 4px;
    margin-bottom: 8px;
    padding: 12px;
}
div.pagediv {
    margin: 0px;
    padding: 0px;
}
div.section {
    background-color: rgb(21, 25, 31);
    border-radius: 2px; /* 8px ? */
    border: solid 1px rgb(32, 39, 48);
    margin: 4px;
    margin-bottom: 8px;
    padding: 12px;
}
div.container-div {
    margin: 0px;
    padding: 0px;
    background-color: transparent;
}
div.flex-container-div {
    margin: 0px;
    padding: 0px;
    background-color: transparent;
    display: flex;
    justify-content: center;
}
div.flex-item-div {
    margin: 0px;
    padding: 0px;
    margin-right: 8px;
    background-color: transparent;
}

/* Buttons */
button {
    background-color: rgb(49 55 67);
    color: #cecece;
    border: none;
    border-radius: 4px;
    outline: solid 1px rgb(66 74 84);
    box-shadow: 0px 2px 5px black;
    padding: 4px 2px;
    width: 200px;
    height: 24px;
    cursor: pointer;
    margin-top: 4px;
    font-weight: normal;
    transition: all 50ms;
}
button:hover, button:focus {
    background-color: rgb(61, 69, 83);
    outline: solid 1px rgb(101, 110, 122);
}
button:active {
    background-color: rgb(72, 81, 97);
}
button:disabled {
    background-color: rgba(33, 38, 47, 0.9);
    outline: solid 1px rgb(43, 50, 62);
    color: rgb(118, 128, 141);
    cursor: default;
}
button.blue {
    background-color: rgb(18, 100, 158);
    color: white;
    outline: solid 1px rgb(25, 125, 181);
}
button.blue:hover, button.blue:focus {
    background-color: rgb(33, 122, 175);
    outline: solid 1px rgb(37, 149, 200);
}
button.blue:active {
    background-color: rgb(28, 160, 203);
}
button.doubleWidth {
    width: 404px;
}

/* Inputs */
input[type=text], input[type=password] {
    background-color: rgb(49, 55, 67); /* Formerly: rgb(57, 64, 74); */
    color: white;
    border: none;
    border-radius: 4px;
    padding: 4px;
    outline: solid 1px rgb(66, 74, 84);
    box-shadow: 0px 0px 3px black;
    width: 200px;
    height: 24px;
    box-sizing: border-box;
    margin-top: 4px;
}
input[type=text]:focus, input[type=password]:focus {
    outline: 1px solid rgb(28, 160, 203);
}
input[type=text].wideChatbox {
    padding: 4px;
    height: 30px;
    box-sizing: border-box;
    width: 100%;
    border-radius: 0px;
    box-shadow: none;
}

/* Misc */
img.socialLink, img.socialLinkSmall { /* todo: eliminate underline on socialLink inside an a */
    width: 30px;
    height: 30px;
    transition: all 0.1s;
}
img.socialLink:hover, img.socialLinkSmall:hover {
    transform: scale(1.2);
    transition: all 0.1s;
}
img.socialLinkSmall { /* todo: eliminate underline on socialLink inside an a */
    width: 24px;
    height: 24px;
}
img.hoverimg {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    transition: all 0.1s;
}
img.hoverimg:hover {
    transform: scale(1.03);
    transition: all 0.1s;
}
iframe {
    border-radius: 8px;
    box-shadow: 0px 2px 16px rgb(0,0,0,0.3);
}

/* Cadecraft Homepage specific features */
@font-face { font-family: 'Starbase Disconnect';
    src: url('/static/fonts/starbase-disconnect.woff2') format(woff2), /* todo: re-add initial / */
    url('/static/fonts/starbase-disconnect.woff') format(woff);
}
@font-face { font-family: 'Starbase Disconnect'; font-weight:bold;
    src: url('/static/fonts/starbase-disconnect.woff2') format(woff2),
    url('/static/fonts/starbase-disconnect.woff') format(woff);
}
div.maindiv {
    width: 850px;
    padding: 0px;
    margin: 0 auto; /* Formerly: 0 auto */
    text-align: left;
    background-color: transparent; /* todo: necessary ? */
    display: inline-block;
}
div.headerdiv {
    position: sticky; /* todo: good ? */
    top: 0px;
    margin:0px;
    box-shadow: rgb(0, 0, 0) 0px 4px 20px; /* todo: remove (was for hiding top) */
    z-index: 5;
    background-blend-mode: multiply;
    background-color: rgb(170, 170, 170);
    background-size: 200px;
    height: 50px;
}
div.flex-item-news-div { /* todo: improve style (ask for advice ?) */
    width: 150px;
    height: 160px;
    background-color: rgba(0, 0, 0, 0.4);
    outline: solid 1px rgb(32, 39, 48);
    border-radius: 4px;
    box-shadow: 0px 2px 5px black;
    background-blend-mode: multiply;
    position: relative;
    transition: all 0.2s;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
div.flex-item-news-div:hover {
    background-color: rgba(0, 0, 0, 0.1);
    outline: solid 1px rgb(28, 160, 203);
    color: white;
    transition: all 0.2s;
}
div.project-wide-div { /* todo: improve style (ask for advice ?) */
    width: 100%;
    min-height: 120px;
    background-color: rgba(0, 0, 0, 0.6);
    outline: solid 1px rgb(32, 39, 48);
    border-radius: 4px;
    box-shadow: 0px 2px 5px black;
    color: white;
    background-blend-mode: multiply;
    transition: all 0.2s;
    margin: 0px;
    margin-top: 10px;
    box-sizing: border-box;
}
div.project-wide-div:hover {
    background-color: rgba(0, 0, 0, 0.5);
    outline: solid 1px rgb(28, 160, 203);
    transition: all 0.2s;
}
button.news-button { /* todo: hover animation (maybe start as squarish then transition to round) */
    position: absolute;
    bottom: 12px;
    left: 12px;
    width: 150px; /* todo: include shadow on these ? */
    box-shadow: 0px 2px 5px black;
    border-radius: 12px;
}
button.menu {
    box-shadow: 0px 2px 5px black;
    border-radius: 0px;
    width: 17%;
}
button.roundl {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
button.roundr {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

/* Tardigrade Chat specific features */
button.colorpick {
    background-color: red;
    border-radius: 0px;
    padding: 0px;
    height: 24px;
    width: 24px;
}
div.chatcontainer {
    overflow-y: scroll;
    overflow-x: hidden;
    min-height: 100px;
    max-height: calc(100vh - 400px);
    margin: 0px;
    padding: 0px;
    border: none;
}
div.messagecontainer {
    border-radius: 0px;
    padding: 2px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background-color: transparent;
    white-space: pre-wrap; /* Display all spaces */
    border: none;
}
div.messagecontainer:hover {
    background-color: black;
    /*text-decoration: underline;*/
}
button.miniop {
    background-color: rgb(11, 14, 17);
    color: rgb(127, 130, 134);;
    border: 2px solid rgb(54, 56, 59);
    border-radius: 4px;
    padding: 0px;
    box-shadow: 0px 3px 5px black;
    width: 45px;
    height: 18px;
    cursor: pointer;
    margin-top: 0px;
    float: right;
    display: none;
}
button.miniop:hover {
    background-color: rgb(21, 25, 31);
}
button.miniop:active {
    background-color: rgb(32, 37, 46);
}
button.miniop:disabled {
    background-color: rgb(90, 92, 95);
    cursor: default;
}
div.messagecontainer:hover button.miniop {
    display: inline;
}
span.minitime {
    color: rgb(90, 92, 95);
    display: none;
}
div.messagecontainer:hover span.minitime {
    display: inline;
}
